<template>
  <html lang="en">
  <head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>
  <div id="app">
    <h1> Not So Bad Afterall Dashboard </h1>
    <div id="toolbar" >
      <div id="selection" :class="displayToolbar">
         <b-button @click="openParameter">Add Component</b-button>

         <b-button @click="$bvModal.show('modal-1')">Help</b-button>

          <b-modal id="modal-1" title="How to use" hide-footer>
            <p class="my-4">Wellcome to our wether stations dashboard!</p>
            <p> It will atomaticaly update live data, choose witch widget you want in your dashboard, set them up, enjoy! </p>
            <h5>How to add a widget</h5>
            <br>
            <p> You first need to click on the <b>"Add Component"</b> button. That shows the widget toolbox which allows you to choose the type of the widget, the title and for the live display, which field to display and add it. </p>
            <h5>The widgets</h5>
            <p>They are 3 types of widgets:</p>
            <ul>
              <li><b>Map</b>: situates the stations, gives basic information when clicked</li>
              <li><b>Live Display</b>: dispays one type of data (temperature, wind, ect..). Updated every minute</li>
              <li><b>Graph</b>: represents one type of data over time</li>
            </ul>
            <br>
            <b-button class="mt-3" block @click="$bvModal.hide('modal-1')">Close</b-button>
          </b-modal>
      </div>
      <div id="parameter" :class="displayParameter">
        <b-form-select v-model="selectedComponent" :options="optionsComponents"></b-form-select>
        <b-form-select v-model="selectedMeasurment" :options="optionsMeasurments" v-if="selectedComponent=='live' || selectedComponent=='graph' "></b-form-select>
        <b-form-input v-model="title" v-if="selectedComponent=='live' || selectedComponent=='graph' " placeholder="Entrez un titre"></b-form-input>

        <b-button-toolbar aria-label="Toolbar with button groups and input groups">
          <b-button :disabled="completed" @click="createComponent" variant="success">Validate</b-button>
          <b-button @click="closeParameter" variant="danger">Close</b-button>
        </b-button-toolbar>

      </div>
    </div>
    <b-container id="widgets" fluid>
    <b-row v-for="(row, indexRow) in this.$store.state.columnRowComponents" v-bind:key="indexRow">
      <b-col :cols="column.type=='graph'?2:0+(column.type=='map'?4:0)" v-for="(column, indexColumn) in row" v-bind:key="column.key">
        <mapStations v-if="column.type=='map'" :i="indexRow" :j="indexColumn"/>
        <liveDisplay v-if="column.type=='live'" :title="column.title" :measurements="column.measurments" :i="indexRow" :j="indexColumn"/>
        <graphDisplay v-if="column.type=='graph'" :title="column.title" :measurements="column.measurments" :i="indexRow" :j="indexColumn"/>
      </b-col>
    </b-row>
  </b-container>


    </div>
  </html>
</template>

<script>

import liveDisplay from './components/LiveDisplay.vue'
import graphDisplay from './components/GraphDisplay.vue'
import mapStations from './components/Map.vue'
//import draggable from 'vuedraggable'






export default {
  name: 'app',
  components: {
    //HelloWorld,
    //draggable,
    liveDisplay,
    graphDisplay,
    mapStations
  },
  computed: {
    completed() {
      if(this.selectedComponent=="map"){
        return false;
      }else if(this.selectedComponent!=null){
        if(this.selectedMeasurment!=null){
          return false;
        }
      }
      return true;
    }
  },
  data(){
    return {
      selectedComponent:null,
      selectedMeasurment:null,
      title:"",
      displayParameter:"notDisplay",
      displayToolbar:"display",
      maxRow:0,
      maxColum:0,
      optionsComponents:[
        { value: "live", text: 'Affichage Live' },
        { value: 'map', text: 'Carte'},
        { value: 'graph', text: 'Graphique' }
      ],
      optionsMeasurments:[
        { value: "temperature", text: 'Température' },
        { value: 'pressure', text: 'Pression'},
        { value: 'humidity', text: 'Humidité' },
        { value: 'wind', text: 'Vent' },
        { value: 'rain', text: 'Pluie' }
      ]
    }
  },
  methods: {
    openParameter(){
      this.displayParameter="display";
      this.displayToolbar="notDisplay";
    },
    closeParameter(){
      this.displayParameter="notDisplay";
      this.displayToolbar="display";
    },
    createComponent(){
      this.$store.dispatch('addComponent',{
         row:0,
         column:1,
         value:{"type":this.selectedComponent,
                "measurments":this.selectedMeasurment,
                "title":this.title,
                "key":(new Date()).getTime() }
      })
      this.maxRow+=1
    },
    updateLiveData() {
      this.$store.state.URLOfStations.forEach((url) => {
        this.$store.dispatch("updateLiveData",url);
      });
    }
  },
  created(){
      this.$store.dispatch('addStationURL',
      "http://piensg007.ensg.eu/live?capteurs=all");
      this.$store.dispatch('addStationURL',
      "http://piensg010.ensg.eu/live?capteurs=all");
      this.$store.dispatch('addStationURL',
      "http://piensg011.ensg.eu/live?capteurs=all");
      this.$store.dispatch('addStationURL',
      "http://piensg024.ensg.eu/live?capteurs=all");

      this.$store.dispatch('addStationURL',
      "mockLive.json");

      setInterval(this.updateLiveData,60000);

      // this.$store.dispatch('addComponent',{
      //   row:0,
      //   column:1,
      //   value:{"type":"map"}
      // });
      // this.$store.dispatch('addComponent',{
      //   row:0,
      //   column:2,
      //   value:{"type":"live"}
      // });
      // this.$store.dispatch('addComponent',{
      //   row:0,
      //   column:3,
      //   value:{"type":"map"}
      // });
      // this.$store.dispatch('addComponent',{
      //   row:1,
      //   column:3,
      //   value:{"type":"map"}
      // });
      // this.$store.dispatch('addComponent',{
      //   row:1,
      //   column:3,
      //   value:{"type":"graph"}
      // });

      console.log("app created")
  }

}

</script>

<style>
#widgets {
  margin: 10px;
  width: 100%;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
#selection>button {
  margin : 10px;
}
.display{
  display:block;
}
.notDisplay{
  display:none;
}
</style>
