<template>
  <button @click="close">X</button>
</template>

<script>
export default {
  name:"close",
  props:{parent:Object},
  methods:{

    close () {
       // destroy the vue listeners, etc
       this.$destroy();

       // remove the element from the DOM
       this.$el.parentNode.removeChild(this.$el);
     }
   }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
