<template>
  <div class="graphDisplay">
    <h1>{{title}} - Archive</h1>
    <b-button @click="close" variant="danger">Close</b-button>
    <!--<select v-model="selectedCaptor" @change="loadData">
      <option value="tem" selected>Température</option>
      <option value="hum">Humidité</option>
      <option value="pre">Pression</option>
      <option value="lum">Luminosité</option>
      <option value="win">Vent</option>
      <option value="ran">Précipitation</option>
    </select>-->
    <select v-if="isWind" v-model="selectedWindCaptor" @change="loadData">
      <option value=1 selected>Direction du vent</option>
      <option value=2>Force moyenne du vent</option>
      <option value=3>Force maxi du vent</option>
      <option value=4>Force mini du vent</option>
    </select>
    <datetime v-model="date1" type="datetime" @close="loadData" id="startDate">
      <label for="startDate" slot="before">Depuis : </label>
    </datetime>
    <datetime v-model="date2" type="datetime" @close="loadData" id="stopDate">
      <label for="stopDate" slot="before">Jusque : </label>
    </datetime>
    <p class="alert" v-if="areDateInverted">/!\ Les dates sont inversées ! /!\</p>
    <div class="graphDiv">
      <line-chart :height="300" class="graph" v-if="loaded" :chart-data="datacollection" :options="options"></line-chart>
    </div>
  </div>
</template>

<script>
import LineChart from "./LineChart.js";
import {Datetime} from 'vue-datetime'
import 'vue-datetime/dist/vue-datetime.css'

export default {
  name: "graphDisplay",
  props: { title: String, measurements: String },
  created() {
    console.log("Create graphDisplay");
  },
  components: {
    LineChart,
    datetime: Datetime
  },
  data: () => ({
    selectedCaptor: "tem",
    selectedWindCaptor: 1,
    listSonde: ["http://piensg007.ensg.eu","http://piensg010.ensg.eu", "http://piensg011.ensg.eu", "http://piensg024.ensg.eu"],
    loaded: false,
    date1: "2020-03-01T09:00:00.748Z",
    date2: "2021-01-29T09:00:00.748Z",
    datacollection: {
        datasets: [],
    },
    options: {
				responsive: true,
				scales: {
					xAxes: [{
						type: 'time',
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'Date'
						},
						ticks: {
							major: {
								fontStyle: 'bold',
								fontColor: '#FF0000'
							}
						}
					}],
					yAxes: [{
						display: true,
						scaleLabel: {
							display: true,
							labelString: 'value'
						}
					}]
				}
      }
  }),

  mounted() {
    this.loadData();
  },

  computed: {
    isWind: function () {
      return this.selectedCaptor == "win";
    },
    isRain: function () {
      return this.selectedCaptor == "ran";
    },
    areDateInverted: function () {
      return new Date(this.date1) > new Date(this.date2);
    }
  },

  methods: {

    /**
     * @desc Load the data of the called sensor with an asynchronous call and display it in the graph
    */
    loadData(){
      this.selectedCaptor = this.getAbbrevCaptor();
      this.loaded = false;
      this.resetGraph();
      if (this.areDateInverted){
        return;
      }
      Promise.all(this.listSonde.map(sonde => {
        let url = sonde
        + "/archive?start="
        + this.date1
        + "&stop="
        + this.date2
        + "&capteurs="
        + this.selectedCaptor;
        console.log(url);
        return fetch(url, {credentials: "omit"})}))
      .then(results => Promise.all(results.map(res => res.json())))
      .then(jsons => {
        jsons.forEach(json => this.addDataFromJSON(json))
        console.log("Data loaded");
        this.loaded = true;
      });
      },
      close () {
         // destroy the vue listeners, etc
         this.$destroy();

         // remove the element from the DOM
         this.$el.parentNode.removeChild(this.$el);
         console.log(this.i,this.j);
         console.log(this.$store.state.columnRowComponents[this.i]);
         this.$store.state.columnRowComponents[this.i].splice(this.j, 1); //remove the
         //element from the list to prevent it from rendering a blank space
       },

    /**
     * @desc Add dataset in the graph from a standard JSON file
     * @param {result} $json - JSON file following the exchange format
    */
    addDataFromJSON(json) {
      if (json.result == null){
        console.log("/!\\ Error /!\\");
        return;
      }
      console.log("Add " + json.result.metadata.nom + ' (' + this.selectedCaptor + ')');
      console.log(this.$props.measurements);
      const dataSensor = json.result.measurements[this.$props.measurements];
      const name = json.result.metadata.nom;
      let data = [];
      if (this.isWind){
        dataSensor.data.forEach(element => {
        data.push({x: new Date (element[0]), y: element[this.selectedWindCaptor]});
        });
        this.options.scales.yAxes[0].scaleLabel.labelString = dataSensor.description[this.selectedWindCaptor-1] + " (" + dataSensor.units[this.selectedWindCaptor] + ")";
      }
      else if (this.isRain){
        let precipitation = 0;
        let unitPre = (2.571*1000)/(Math.PI*50*50);
        let lastDate = "";
        dataSensor.data.forEach(element => {
          if (lastDate != element[0]){
            data.push({x: new Date (element[0]), y: precipitation});
            precipitation += unitPre;
            lastDate = element[0];
          }
        });
        this.options.scales.yAxes[0].scaleLabel.labelString = "Précipitation (mm/m²)";
      }
      else{
        dataSensor.data.forEach(element => {
        data.push({x: new Date (element[0]), y: element[1]});
        });
        this.options.scales.yAxes[0].scaleLabel.labelString = dataSensor.description[0] + " (" + dataSensor.units[1] + ")";
      }

      console.log("Number of values: " + data.length);
      const newDataSet = {
        label: name,
        data: data,
        borderColor: this.getColor(json.result.id),
        backgroundColor: 'rgba(255, 0, 0, 0)'
      };
      this.datacollection.datasets.push(newDataSet);
    }
    ,

    /**
     * @desc Return a specific color for each probe
     * @param int $id - Id of the probe
     * @return string - Color
    */
    getColor(id){
      if (id == 9){
        return 'rgba(255, 0, 0, 1)';
      }
      else if (id == 10){
        return 'rgba(0, 255, 0, 1)';
      }
      else if (id == 11){
        return 'rgba(0, 0, 255, 1)';
      }
      else if (id == 18){
        return 'rgba(255, 255, 0, 1)';
      }
      else{
        return 'rgba(0, 0, 0, 1)';
      }
    },

    /**
     * @desc Reset the data of the graph
    */
    resetGraph(){
      this.datacollection = {
        datasets: [],
      }
    },

    /**
     * @desc Return the data specific to a sensor
     * @param string $capt - Sensor abbreviation ("tem", "pre", "hum", "lum", "win", "ran")
     * @param {result} $result - JSON file following the exchange format
     * @return {description: [], units: [], data: [[]]} - Data of the selected sensor
    */
    getSensorData(capt, result){
      switch (capt) {
        case "tem":
          return result.measurements["temperature"];
        case "pre":
          return result.measurements["pressure"];
        case "hum":
          return result.measurements["humidity" ];
        case "lum":
          return result.measurements["luminosity"];
        case "win":
            return result.measurements["wind"];
        case "ran":
            return result.measurements["rain"];
      }
    },

    getAbbrevCaptor(){
      switch (this.$props.measurements) {
        case "temperature":
          return "tem";
        case "pressure":
          return "pre";
        case "humidity":
          return "hum";
        case "luminosity":
          return "lum";
        case "wind":
            return "win";
        case "rain":
            return "ran";
      }
    }

  }
};
</script>

<style>
.graphDisplay h1 {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.graphDisplay {
  background-color: grey;
  color: white;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 4px;
  border-radius: 4px;
}
ul.stationsMeteo {
  list-style-type: none;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
ul.stationsMeteo li {
  padding: 16px 32px;
  margin: 1%;
  border-radius: 4px;
  background-color: lightgrey;
  color: black;
}
.graphDiv {
  padding: 16px 32px;
  margin: 1%;
  border-radius: 4px;
  background-color: lightgrey;
  color: black;
  max-width: 160px auto;
}
.graph {
  max-width: 800px;
  margin:  10px auto;
}
.alert {
  color: red;
}
</style>
