<template>
  <div class="liveDisplay">
    <div class="inline">
      <h1>{{title}} Live &#128308;</h1>
      <b-button @click="close" variant="danger">Close</b-button>
    </div>
    <!--<button @click="test">chercher le mock</button>
    <button @click="() =>{this.$store.dispatch('logLiveData');}">checklog</button>-->
    <ul v-if="this.$store.state.liveDataInitialized" class="stationsMeteo">
      <li class="stationMeteoLive" v-for="station in stationDataLive" v-bind:key="station.measurements[measurements].data[0][0]">
        <p v-if="isRain">{{station.metadata.nom}} : {{station.measurements[measurements].data[0][0]}} {{station.measurements[measurements].units[0]}}</p>
        <div v-else-if="isWind">
          <p>{{station.metadata.nom}} :</p>
          <div v-for="(description,index) in station.measurements.wind.description" v-bind:key="description"><p>{{description}} : {{station.measurements.wind.data[0][index+1]}} {{station.measurements.wind.units[index+1]}}</p></div>
        </div>
        <p v-else>{{station.metadata.nom}} : {{station.measurements[measurements].data[0][1]}}{{station.measurements[measurements].units[1]}}</p>
      </li>
    </ul>

  </div>
</template>

<script>

export default {
  name: 'liveDisplay',
  props: {title:String,measurements:String,i:Number,j:Number},
  methods:{test(){
     this.$store.dispatch('updateLiveData',"mockLive.json")
   },
   close () {
      // destroy the vue listeners, etc
      this.$destroy();

      // remove the element from the DOM
      this.$el.parentNode.removeChild(this.$el);
      console.log(this.i,this.j);
      console.log(this.$store.state.columnRowComponents[this.i]);
      this.$store.state.columnRowComponents[this.i].splice(this.j, 1); //remove the
      //element from the list to prevent it from rendering a blank space
    }
  },
  computed: {
    isWind: function () {
      return this.$props.measurements == "wind";
    },
    isRain: function () {
      return this.$props.measurements == "rain";
    },
    stationDataLive (){
        return this.$store.state.data;
    }
  },
  created(){
  }

}
</script>

<style>
.liveDisplay h1{
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.liveDisplay {
  background-color: grey;
  color: white;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
  border-radius: 4px;
}
ul.stationsMeteo{
  list-style-type: none;
  padding-bottom : 10px;
  padding-left : 10px;
  padding-right : 10px;
}
ul.stationsMeteo li{
  padding: 16px 32px;
  margin: 1%;
  border-radius: 4px;
  background-color: lightgrey;
  color:black;
}
.inline{
  display: inline;
}
</style>
