<template>
  <div class="mapStations">
    <h1>Map of stations</h1>
    <b-button @click="close" variant="danger">Close</b-button>
    <div id="map" v-if="this.$store.state.liveDataInitialized">
      <l-map :zoom="zoom" :center="center">
        <l-tile-layer :url="url" :attribution="attribution"/>
        <!--<l-marker :position="center" :title="title" :opacity="opacity" :draggable="draggable">
          <l-tooltip content="a tooltip"></l-tooltip>
        </l-marker>-->
        <div v-for="(value, name) in this.$store.state.data" v-bind:key="name">
          <l-marker :lat-lng="[value.coordinate.latitude,value.coordinate.longitude]" :title="value.metadata.nom">
            <l-popup :content="
              '<h5><strong>' + value.metadata.nom + '</strong></h5>' +
              '<p>Température : '+ value.measurements.temperature.data[0][1] + '°C</p>' +
              '<p>Pressure : '+ value.measurements.pressure.data[0][1] + 'hP</p>' +
              '<p>Humidité : '+ value.measurements.humidity.data[0][1] + '%</p>'
              "/>
            <l-tooltip :options="{ permanent: false, interactive: true }" :content="value.metadata.nom">
            </l-tooltip>
          </l-marker>
        </div>

      </l-map>
      <!--<button @click="test">chercher le mock</button>
      <button @click="() =>{this.$store.dispatch('logLiveData');}">checklog</button>-->


    </div>
  </div>
</template>

<script>
import {LMap, LTileLayer, LMarker, LTooltip, LPopup  } from 'vue2-leaflet';
import { latLng } from "leaflet";


export default {
  name: 'mapStations',
  components: {
      LMap,
      LTileLayer,
      LMarker,
      LTooltip,
      LPopup
  },
  data() {
    return{
      zoom: 4,
      center: [48.856614, 2.3522219],
      url : "http://{s}.tile.osm.org/{z}/{x}/{y}.png",
      attribution : "&copy; <a href='https://www.openstreetmap.org/copyright'>OpenStreetMap</a> contributors",
    }
  },
  methods:{
    latlong(lat,long){return latLng(lat,long); },
    close () {
       // destroy the vue listeners, etc
       this.$destroy();

       // remove the element from the DOM
       this.$el.parentNode.removeChild(this.$el);
       console.log(this.i,this.j);
       console.log(this.$store.state.columnRowComponents[this.i]);
       this.$store.state.columnRowComponents[this.i].splice(this.j, 1); //remove the
       //element from the list to prevent it from rendering a blank space
     }
  },
  mounted(){
  }

}
</script>

<style>

#map{
  width: 90%;
  height:400px;
  position: relative;
  left: 5%;
}
.mapStations h1{
  margin-top: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.mapStations {
  background-color: grey;
  color: white;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin-top: 60px;
  padding-bottom: 10px;
  border-radius: 4px;
}
</style>
